.dialog {
  top: 50px;
  margin-inline: auto;
  border-radius: 10px;
  border: transparent;
  z-index: 1000;
}
.form {
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 40px;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.formDiv{
  display: flex;
    flex-direction: column;
    width: 100%;

}

.formP{
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.23px;
  letter-spacing: -0.1944444477558136px;
  text-align: left;
  color: #3a4374;
}

.formLabel {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.23px;
  text-align: left;
  color: #647196;
}

.formTextarea {
  /* width: 90%; */
  height: 96px;
  border-radius: 5px;
  border: transparent;
  background-color: #f7f8fd;
  color: #3a4374 !important;
  padding: 24px;
}
.formTextarea::placeholder {
  color: #3a4374;
}

.formSelect {
  /* width: 90%; */
  height: 48px;
  border-radius: 5px;
  border: transparent;
  background-color: #f7f8fd;
  color: #3a4374;
  padding-left: 15px;
}

.formİnput {
  /* width: 90%; */
  height: 48px;
  border-radius: 5px;
  border: transparent;
  background-color: #f7f8fd;
  color: #3a4374;
  padding-left: 15px;
}



.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.cancel {
  background-color: #3a4374;
  border: transparent;
  border-radius: 10px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  color: #f2f4fe;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.23px;
  text-align: left;
  cursor: pointer;
}

.delete {
  background-color: #d73737;
  border: transparent;
  border-radius: 10px;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  color: #f2f4fe;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.23px;
  text-align: left;
  cursor: pointer;
  margin-right: 61px;
}

.img1 {
  position: absolute;
  top: -28px;
  left: 31px;
}

.img2 {
  position: absolute;
  top: -8px;
  left: 52px;
}

.img3 {
  position: absolute;
  top: -11px;
  left: 49px;
}

.formH {
  color: #3a4374;
  font-size: 24px;
  font-weight: 700;
  line-height: 34.68px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;
}
